h1 {
  text-align: right;
}

.navbar {
  background-color: darkgray;
}

input:placeholder-shown {
  color: blue;
}

.card {
  text-align: center;
}

footer {
  text-align: center;
  font-size: 14px;
}